<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', book: @book %>
  </div>
  <div class="col-sm-9">
    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <%# FIXME:　style %>
          <th style="width:25%;">image</th>
          <th style="width:50%;">name</th>
          <th style="width:25%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |model| %>
          <tr>
            <td><%= image_tag 'no_image.jpg' %></td>
            <td><%= model.name %></td>
            <td><%= link_to 'Show', model %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
