<header>
  <div class="container">
    <nav>
      <span>Bookers</span>
    </nav>
    <nav>
      <ul>
        <li>HOME</li>
        <li>About</li>
        <li>sign up</li>
        <li>login</li>
      </ul>
    </nav>
  </div>
</header>